<template>
    <div>
        <!-- Header-Area -->
        <header class="header-area v1 relative-box" id="home-area">
            <div class="image-side-box right-box hidden-xs hidden-sm">
                </div>
                    <div class="container">
                        <form class="form-horizontal" role="form"  @submit.prevent="submit">
                            <div class="alert alert-danger" v-if="errors.root">
                                {{ errors.root }}
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail</label>

                                <div class="col-md-6">
                                    <input v-model="email" type="email" class="form-control" autocomplete="email" autofocus>
                                    <span class="help-block" v-if="errors.email">
                                        {{ errors.email[0] }}
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Пароль</label>

                                <div class="col-md-6">
                                    <input v-model="password" type="password" class="form-control" name="password" autocomplete="current-password">
                                    <span class="help-block" v-if="errors.password">
                                        {{ errors.password[0] }}
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row mb-0">
                                <div class="col-md-8 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Login
                                    </button>
                                        <a class="btn btn-link" href="#">
                                            Забыли пароль?
                                        </a>
                                </div>
                            </div>
                        </form>
            </div>
        </header>
        <!-- Header-Area-End -->
    </div>
</template>



<script>
    import { mapActions } from 'vuex'
    import localforage from 'localforage'
    import { isEmpty } from 'lodash'

    export default {
        data () {
            return {
                email: null,
                password: null,
                errors: []
            }
        },
        methods: {
            ...mapActions({
                login: 'auth/login'
            }),
            submit () {
                this.login({
                    payload: {
                        email: this.email,
                        password: this.password
                    },
                    context: this
                }).then(() => {
                    localforage.getItem('intended').then((name) => {
                        if (isEmpty(name)) {
                            this.$router.replace({ name: 'home' })
                            return
                        }

                        this.$router.replace({ name: name })
                    })
                })
            }
        }
    }
</script>
