<template>
    <div>
        <crm-navbar></crm-navbar>
        <crm-header></crm-header>
        <!-- [ Main Content ] start -->
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <div class="row">
                                    <!-- [ Main Content ] start -->
                                    <router-view name="crm"></router-view>
                                    <router-view name="orders"></router-view>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import CrmNavbar from './CrmNavbar'
import CrmHeader from './CrmHeader'

    export default {
        data () {
            return {
                index: null
            }
        },
        mounted () {
            axios.get('/api/crm/home').then((response) => {
                this.index = response.data.data
            })
        },
        components:{
            CrmNavbar, CrmHeader
        }
    }
</script>