<template>
        <!-- [ navigation menu ] start -->
        <nav class="pcoded-navbar">
            <div class="navbar-wrapper">
                <div class="navbar-brand header-logo">
                    <a href="#" class="b-brand">
                        <div class="b-bg">
                            <i class="feather icon-trending-up"></i>
                        </div>
                        <span class="b-title"><router-link :to="{name:'crm_home'}">EcoCrm</router-link></span>
                    </a>
                </div>
                <div class="navbar-content scroll-div">
                    <ul class="nav pcoded-inner-navbar">
                        <li class="nav-item active">
                            <a href="#" class="nav-link ">
                                <span class="pcoded-micon">
                                    <i class="feather icon-home"></i>
                                </span>
                                <span class="pcoded-mtext">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item pcoded-hasmenu">
                            <a href="javascript:" class="nav-link ">
                                <span class="pcoded-micon">
                                    <i class="feather icon-box"></i>
                                </span>
                                <span class="pcoded-mtext">Заявки</span>
                            </a>
                            <ul class="pcoded-submenu">
                                <li class=""><router-link :to="{name:'crm_new_orders'}">Новые заявки</router-link></li>
                                <li class=""><a href="#" class="">Badges</a></li>
                                <li class=""><a href="#" class="">Breadcrumb & paggination</a></li>
                            </ul>
                        </li>
                        <li data-username="Charts Morris" class="nav-item">
                            <a href="#" class="nav-link ">
                                <span class="pcoded-micon">
                                    <i class="feather icon-pie-chart"></i>
                                </span>
                                <span class="pcoded-mtext">Chart</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- [ navigation menu ] end -->
</template>