<template>
    <div>
        <!-- Testimonial-Area-Start -->
        <section id="testimonial-area" class="testimonial-area v1 section-bg" style="background-image: url('assets/images/section-bg1.png'); background-size: 100% 100%;">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3  text-center">
                        <div class="page-title text-white">
                            <h2 class="title">Our clients love us <br>
                            and share their thought</h2>
                            <div class="desc">Whether you’re using them for recreation, to build <br> service business to integrate existing business</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="testimonials" class="carousel slide testimonial-slider">
                <div class="container">
                    <div class="row">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="testimonail-item col-xs-12 col-md-8 col-md-offset-2">
                                    <div class="desc">Building a compelling and intuitive user experience is vital to being effective online. Ironpaper specializes in making online business systems and websites more user friendly and easy to navigate. 1 ?</div>
                                    <div class="testimonail-footer">
                                        <h5 class="title">David Clemons</h5>
                                        <div class="position">CEO, Hoper </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonail-item col-xs-12 col-md-8 col-md-offset-2">
                                    <div class="desc">Building a compelling and intuitive user experience is vital to being effective online. Ironpaper specializes in making online business systems and websites more user friendly and easy to navigate. 2 ?</div>
                                    <div class="testimonail-footer">
                                        <h5 class="title">David Clemons</h5>
                                        <div class="position">CEO, Hoper </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonail-item col-xs-12 col-md-8 col-md-offset-2">
                                    <div class="desc">Building a compelling and intuitive user experience is vital to being effective online. Ironpaper specializes in making online business systems and websites more user friendly and easy to navigate. 2 ?</div>
                                    <div class="testimonail-footer">
                                        <h5 class="title">David Clemons</h5>
                                        <div class="position">CEO, Hoper </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonail-item col-xs-12 col-md-8 col-md-offset-2">
                                    <div class="desc">Building a compelling and intuitive user experience is vital to being effective online. Ironpaper specializes in making online business systems and websites more user friendly and easy to navigate. 3 ?</div>
                                    <div class="testimonail-footer">
                                        <h5 class="title">David Clemons</h5>
                                        <div class="position">CEO, Hoper </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonail-item col-xs-12 col-md-8 col-md-offset-2">
                                    <div class="desc">Building a compelling and intuitive user experience is vital to being effective online. Ironpaper specializes in making online business systems and websites more user friendly and easy to navigate. 3 ?</div>
                                    <div class="testimonail-footer">
                                        <h5 class="title">David Clemons</h5>
                                        <div class="position">CEO, Hoper </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonail-item col-xs-12 col-md-8 col-md-offset-2">
                                    <div class="desc">Building a compelling and intuitive user experience is vital to being effective online. Ironpaper specializes in making online business systems and websites more user friendly and easy to navigate. 3 ?</div>
                                    <div class="testimonail-footer">
                                        <h5 class="title">David Clemons</h5>
                                        <div class="position">CEO, Hoper </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonail-item col-xs-12 col-md-8 col-md-offset-2">
                                    <div class="desc">Building a compelling and intuitive user experience is vital to being effective online. Ironpaper specializes in making online business systems and websites more user friendly and easy to navigate. 3 ?</div>
                                    <div class="testimonail-footer">
                                        <h5 class="title">David Clemons</h5>
                                        <div class="position">CEO, Hoper </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonail-item col-xs-12 col-md-8 col-md-offset-2">
                                    <div class="desc">Building a compelling and intuitive user experience is vital to being effective online. Ironpaper specializes in making online business systems and websites more user friendly and easy to navigate. 3 ?</div>
                                    <div class="testimonail-footer">
                                        <h5 class="title">David Clemons</h5>
                                        <div class="position">CEO, Hoper </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- Indicators -->
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#testimonials" data-slide-to="0" class="active"><img src="assets/images/testimonial-1.png" alt=""></li>
                    <li data-target="#testimonials" data-slide-to="1"><img src="assets/images/testimonial-2.png" alt=""></li>
                    <li data-target="#testimonials" data-slide-to="2"><img src="assets/images/testimonial-3.png" alt=""></li>
                    <li data-target="#testimonials" data-slide-to="3"><img src="assets/images/testimonial-4.png" alt=""></li>
                    <li data-target="#testimonials" data-slide-to="4"><img src="assets/images/testimonial-5.png" alt=""></li>
                    <li data-target="#testimonials" data-slide-to="5"><img src="assets/images/testimonial-6.png" alt=""></li>
                    <li data-target="#testimonials" data-slide-to="6"><img src="assets/images/testimonial-7.png" alt=""></li>
                    <li data-target="#testimonials" data-slide-to="7"><img src="assets/images/testimonial-1.png" alt=""></li>
                </ol>
                <!-- Left and right controls -->
                <div class="nav-control text-center">
                    <a class="left control" href="#testimonials" data-slide="prev"></a>
                    <a class="right control" href="#testimonials" data-slide="next"></a>
                </div>
            </div>
        </section>
        <!-- Testimonial-Area-End -->
        <!-- Price-Area-Start -->
        <section class="price-area v1" id="price-area">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
                        <div class="page-title">
                            <h2 class="title">No hidden charge choose your plan</h2>
                            <div class="desc">Whether you’re using them for recreation, to build anservice business to integrate UAS into your existing business</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="single-price wow fadeInUp" data-wow-delay="0.3s">
                            <div class="user">1 User</div>
                            <h3 class="title">Regular Plan</h3>
                            <div class="info">No extra hidden charge.
                                All vat Included.</div>
                            <h3 class="rate">$19.99</h3>
                            <a href="" class="bttn-3">Get Started</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="single-price wow fadeInUp active" data-wow-delay="0.5s">
                            <div class="user">1 User</div>
                            <h3 class="title">Startup Plan</h3>
                            <div class="info">No extra hidden charge.
                                All vat Included.</div>
                            <h3 class="rate">$59.99</h3>
                            <a href="" class="bttn-3">Get Started</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="single-price wow fadeInUp" data-wow-delay="0.7s">
                            <div class="user">1 User</div>
                            <h3 class="title">Business Plan</h3>
                            <div class="info">No extra hidden charge.
                                All vat Included.</div>
                            <h3 class="rate">$99.99</h3>
                            <a href="" class="bttn-3">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Price-Area-End -->
        <!-- Sponsor-Arae-Start -->
        <div class="sponsor-area">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h4>We are feauted on</h4>
                    </div>
                </div>
                <div class="space-20"></div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="sponsors">
                            <div class="item">
                                <img src="assets/images/client-1.png" alt="">
                            </div>
                            <div class="item">
                                <img src="assets/images/client-2.png" alt="">
                            </div>
                            <div class="item">
                                <img src="assets/images/client-3.png" alt="">
                            </div>
                            <div class="item">
                                <img src="assets/images/client-4.png" alt="">
                            </div>
                            <div class="item">
                                <img src="assets/images/client-5.png" alt="">
                            </div>
                            <div class="item">
                                <img src="assets/images/client-2.png" alt="">
                            </div>
                            <div class="item">
                                <img src="assets/images/client-3.png" alt="">
                            </div>
                            <div class="item">
                                <img src="assets/images/client-4.png" alt="">
                            </div>
                            <div class="item">
                                <img src="assets/images/client-5.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sponsor-Arae-End -->
    </div>
</template>