<template>
    <div>
        <header-component></header-component>
        <content-component></content-component>
        <footer-component></footer-component>
    </div>
</template>


<script>
import HeaderComponent from './HeaderComponent'
import ContentComponent from './ContentComponent'
import FooterComponent from './FooterComponent'

export default {
    components:{
        HeaderComponent,
        ContentComponent,
        FooterComponent
    }
}
</script>